.make-grid(@i: 1, @n, @mainSize, @step: 1) when (@i =< @n) {
    // @{i} - стъпка на цикъла, започва с 1
    .col-@{i} {
        width: (@mainSize / @n) * @i;
    }
    .make-grid((@i + @step), @n, @mainSize, @step);
}

.make-grid(@i: 1, 12, 100%);

.row {
    .clearfix();
}