.hero-banner {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../img/hero-image.jpg) 0 0 no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    padding: 10px;
    background: @dark-color-transparent;
    color: @light-color;
    .translate3d(-50%,-50%,0);
}