.translate3d(@x,@y,@z) {
    -ms-transform: translate3d(@x,@y,@z);
    -webkit-transform: translate3d(@x,@y,@z);
    transform: translate3d(@x,@y,@z);
}

.clearfix () {

    &:before,
    &:after {
        content: "";
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

[class*='col-'] {
    &.float {
        position: relative;
        display: block;
        float: left;
    }
}