.regular-title {
    text-align: center;
    color: @lighter-color;
    font-size: 48px;
    padding: 10px;
}

.regular-subtitle {
    text-align: center;
    color: @lighter-color;
    font-size: 24px;
}

.highlight,
.highlight:hover,
.highlight:focus {
    color: @highlight-color;
    text-decoration: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.our-work {
    .row {
        padding: 20px 0;
    }

    .work-items {
        [class*="col-"] {
            padding: 0 0 10px 10px;
        }
    }
}

.work-items-nav {
    a {
        display: block;
        color: @greyish-color;
        font-size: 15px;
        padding: 10px;
    }
}