/*-------------------------------'Titillium Web', sans-serif;---------------------------------------------------*/
/*  CSS Reset & Clear
/*-----------------------------------------------------------------------------------*/

html, body, div, span, figure, h1, h2, h3, h4, p, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, details, figure, figcaption, footer, header, hgroup, nav, section, img { margin: 0; padding: 0; border: 0; vertical-align: baseline; font: inherit; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: "."; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.none { display: none; }

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
    background: @dark-greyish;
}

* {
    box-sizing: border-box;
}

ol, ul, dl {
    margin: 0;
    padding: 0;
}

html,
body,
main {
    height: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}
a {
    text-decoration: none;
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
a:hover, a:active, a:focus {
    color: #EC5F24;
    outline: none;
}
strong {
    font-weight: bold;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[type="text"]:focus,
input[type="submit"]:focus {
    outline: none;
}