// https://coolors.co/fefefe-7f8289-2f3238-de5e60-ffffff

@light-color: #fff;
@lighter-color: #fefefe;
@highlight-color: #de5e60;
@greyish-color: #7f8289;
@dark-greyish: #2f3238;
@dark-color-transparent: rgba(0, 0, 0, 0.5);